.feature{
    padding: 100px 0;
    background: $grey;
    text-align: center;
    &__icon,&_title{
        padding-bottom: 25px;
    }

     &__title{
        font-size: 25px;
        font-weight: bold;
    }
   

      &__text{
    font-size: 20px;
    }}

  