.footer{
    color: #fff;
    padding: 75px 0;
    &_bg{
        background: $footer;
    }
    
    &_logo{
       
        padding-bottom: 15px;
     
    }
    &_socials,
    &_list{
        margin: 0;
        padding:  0;
        list-style: none;
        display: flex;
        
    }
    &_socials{
        padding-left: 28px;

    }
    &_social{
     
        margin-right: 3px;
        margin-left: 5px;
        padding-left: 0px;
    
        text-align: center;
        background:#fff;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        
    }
    &_img {
        margin-top: 8px;
       margin-bottom: 5px;
margin-left: 35px;
    }
    &_social:hover{
        background: $orange;
        transition-duration: 700ms;
        }
    &_link_two{
     
        color: #fff;
        text-decoration: none;
        padding-left: 0px;
        &_orange{ 
            color:$orange}

            &_underline{
                text-decoration: underline;
            }

    }
   
    &_pic{
    
     height: 15px;
     padding-bottom: 5px;
   
    }
    &_orange{
        color: $orange;
    }
    &_underline{
        text-decoration: underline;
        text-transform: none;
    }
    &_img{
      
        height: 100px;
        width: 70px;
    }

&_title{
    font-size: 25px;
    padding-bottom:15px;
    margin: 0;

}

 &_list{
     display: flex;
  flex-direction: column;}

    &_list_capitalize{
        text-transform: capitalize;
       
   }


}