
 .team-wrap{
  background:$grey;
}
.team-row{
margin: 0px;
margin-bottom: 30px;
}
.team-img img {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
  width: 100%;
}

.team-member,
.team-img {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}


.overlay {
  background-color: rgba(36, 35, 35, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: 15px;
}

.team-details {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 5%;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.team-details p {
  color: #fff;
  font-size: 20px;
}
.padding_top_1{
top: 455px
}
.padding_top_2{
top:330px
}
.padding_top_3{
  top:260px
}

.team-img:hover .team-details {
  opacity: 1;
  margin-top: -80px;
}

.team-img:hover .overlay {
  opacity: 1;
}

.iconul {
list-style: none;
margin: auto;
padding-left: 0;
  display: flex;
  justify-content: center;
  width: 100px;
  height:45px;
}
.icon{
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 10px;
}
.icon:hover {
    transition-duration: 500ms;
    background: $orange;

    
}
.team-title {
  padding-top: 20px;
text-align: center;
}

